.container {
  display: flex;
  flex-wrap: wrap;
}

.subcontainer {
  border: 10px dotted yellow;
  margin: 40px;
}

#video {
  display: flex;
  flex-grow: 4;
  justify-content: center;
}

.frame {
  border : 4mm ridge rgba(255, 255, 220, .6);
}

#title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 78px;
}

html {
  background-image: url("https://i.kym-cdn.com/photos/images/original/000/320/984/651.jpg");
  background-repeat: repeat;
  background-size: 10%;
}

img {
  max-height: 400px;
}